In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Housing.csv')

In [3]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [4]:
df.shape

(545, 13)

In [5]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [6]:
df. dtypes

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object

In [8]:
cat_cols = [i for i in df.columns if df[i].dtypes == 'object'] #categorical column and this is a list comprehension
cat_cols

['mainroad',
 'guestroom',
 'basement',
 'hotwaterheating',
 'airconditioning',
 'prefarea',
 'furnishingstatus']

In [9]:
df['mainroad'].value_counts()

yes    468
no      77
Name: mainroad, dtype: int64

In [10]:
df['guestroom'].value_counts()

no     448
yes     97
Name: guestroom, dtype: int64

In [11]:
df['basement'].value_counts()

no     354
yes    191
Name: basement, dtype: int64

In [12]:
df['hotwaterheating'].value_counts()

no     520
yes     25
Name: hotwaterheating, dtype: int64

In [13]:
df['airconditioning'].value_counts()

no     373
yes    172
Name: airconditioning, dtype: int64

In [14]:
df['prefarea'].value_counts()

no     417
yes    128
Name: prefarea, dtype: int64

In [15]:
df['furnishingstatus'].value_counts()

semi-furnished    227
unfurnished       178
furnished         140
Name: furnishingstatus, dtype: int64

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
lb= LabelEncoder()
for i in cat_cols:
    df[i] = lb.fit_transform(df[i])

In [18]:
df.dtypes

price               int64
area                int64
bedrooms            int64
bathrooms           int64
stories             int64
mainroad            int32
guestroom           int32
basement            int32
hotwaterheating     int32
airconditioning     int32
parking             int64
prefarea            int32
furnishingstatus    int32
dtype: object

In [19]:
x = df.drop('price',axis=1)
y = df['price']
print(type(x))
print(type(y))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [20]:
print(x.shape)
print(y.shape)

(545, 12)
(545,)

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(408, 12)
(137, 12)
(408,)
(137,)

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
m1 = LinearRegression()
m1.fit(x_train,y_train)

LinearRegression()

In [25]:
print('Training score',m1.score(x_train,y_train))
print('Testing score',m1.score(x_test,y_test))

Training score 0.6940896400463534
Testing score 0.5747109471210592

In [26]:
ypred_m1 = m1.predict(x_test)
print(ypred_m1)

[4152667.54481737 3573903.8779347  4169568.93650542 8176220.64316395
 3155981.54806679 5026568.18929726 5665662.52721574 3629346.43951177
 2154967.45671478 2695436.27238911 2804856.24522613 4227010.37239009
 6381005.96342528 3873744.60009244 5520563.86821458 4849598.90730404
 5836860.38115967 4914542.65936529 4366527.36305697 7801924.97428026
 2695436.27238911 4068482.15515803 6393237.78378539 3353208.36123571
 2569603.30362654 6606209.15005424 4858615.7441814  7869486.43176751
 6770139.85733684 6472710.39675647 3085948.14140106 5171878.44410516
 3807501.63638106 3827283.7803806  6641478.23234392 4504615.94437672
 6533185.69139623 2788238.23737882 6324741.57833641 6725282.61345059
 4058700.28520632 2088654.20119724 5290179.08779373 5841952.98283618
 3712350.14015784 6776258.12374427 4168135.44057291 4307596.15437618
 6439454.00907692 3511016.02815276 5044048.12678383 3202791.25540887
 6467274.42987774 3909784.48703458 4441186.59461187 2689965.27374726
 6259951.30163608 4621301.5738277  5077593.40893289 4997132.00513071
 3973193.32841249 3090656.49192356 4335854.69681742 6657846.66955571
 7984291.74156699 3617431.83023916 4460703.27616703 4823678.66246674
 5343014.47876961 5229601.37904758 3862282.09699014 4306295.17242682
 7304286.93032515 3071213.58748847 2881991.95033663 4294090.94588336
 4649640.07712966 5119143.00202665 4216916.45580001 6935355.03477815
 3312773.81488269 3837244.3879021  4112714.43077515 6069997.61403255
 2222303.25816956 3112164.3030474  5087154.84410332 4220485.15489396
 4235811.9002168  3167313.95510353 2621771.04906042 4993903.83146696
 5791637.96671786 6033992.10122449 3376017.39290669 5135673.65221881
 4092584.54576647 3767658.0700372  5132303.3953514  4313569.01075227
 2204086.89680069 3239607.53569131 5634407.66945724 3455410.18932385
 4492175.1550039  7264670.21978069 6467517.8831888  3903241.75771194
 3996761.22935311 2709265.08336529 5097246.56566029 3035673.75001862
 4915144.81876465 2857221.14207675 2692700.77306819 2739204.26152392
 6696188.21876243 4931972.21992857 4465727.51239722 4537362.93695047
 4733133.19909644 5372239.21773562 8509320.52083191 4020355.68562606
 3935544.65830255 4474283.44852527 6803247.93467724 7201732.07111047
 3235121.00649232 2903334.22077945 3271072.90741738 5044677.06391905
 3878667.28746902 3692403.68988978 7147135.79516572 3508941.80064715
 4360202.59527357]

In [27]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [28]:
print('MSE',mean_squared_error(y_test,ypred_m1))
print('RMSE',np.sqrt(mean_squared_error(y_test,ypred_m1)))
print('MAE',mean_absolute_error(y_test,ypred_m1))
print('r2_Score',r2_score(y_test,ypred_m1))

MSE 1107214481558.741
RMSE 1052242.5963430395
MAE 793170.6449500028
r2_Score 0.5747109471210592